:root{
  /* Color */
  --white-color: #FFFFFF;
  --black-color: #010101;
  --blue-color: #0030DB;
  --red-color: #FF0000;
  --gray-dark-color: #909090;
  --gray-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 18px;
  --font-medium: 14px;
}

* {
  padding: 0;
  margin: 0;
  /* padding이나 margin을 주었을 때, 박스를 포함하여 사이즈가 지정되도록 */
  box-sizing: border-box;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline:none;
}

/*HEADER*/
header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: var(--padding);
  font-size: var(--font-large);
  background-color: var(--black-color);
  color: var(--white-color);

}
header .logo i{
  color: var(--red-color);
}
header .logo a{
  text-decoration: none;
  color: var(--white-color);
}
header .icon{
  list-style:none;
}
header .icon li{
  display: inline;
}
header .icon button{
  color: var(--white-color);
  background-color: var(--black-color);
  font-size: var(--font-large);
}


/*VIDEO*/
.player{
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}
.player video{
  width: 100%;
  height: 100%;
  max-width: 700px;
}

/*INFORMATION*/
.info{
  padding: var(--padding);
}
.info .metadata .hashtags{
  list-style:none;
  color: var(--blue-color);
  font-size: var(--font-medium);
}
.info .metadata .hashtags li{
  display:inline;
}
.info .metadata .titleAndButton{
  display: flex;
  align-items:flex-start;
}
.info .metadata .titleAndButton .title{
  /*
    문단을 제한하여 나타낼 수 있음
    google에 CSS line clamp 검색하여 이용
  */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.info .metadata .titleAndButton button{
  padding: var(--padding);
  background-color: var(--white-color);
}
.actions{
  display: flex;
  list-style:none;
  text-align:center;
}
.actions li{
  display: inline;
  width:25%;
  margin: 10px 20px;
}
.actions button{
  background-color: var(--white-color);
  font-size: var(--font-large);
}
.actions button i.active{
  color: var(--blue-color);
}
.actions span{
  display: block;
  padding: var(--padding);
  font-size: var(--font-medium);
}
.channel{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
}
.channel .profile{
  padding: var(--padding);
}
.channel .profile a{
  text-decoration: none;
  display: flex;
}
.channel .profile a img{
  width:70px;
  height: 70px;
  margin-right: 30px;
}
.channel button{
  background-color: var(--white-color);
  color: var(--red-color);
  font-size: var(--font-large);
}


/* NEXT VIDEO */
.UpNext {
  padding: var(--padding);
}
.playlist{
  list-style: none;
}
.playlist .items {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.playlist .items a{
  display: flex;
  text-decoration: none;
}
.playlist .items a .img{
  margin-right: 20px;
  /* 1만큼 늘어나고 1만큼 줄어들고 너비의 35%를 차지함.*/
  flex: 1 1 35%;
}
.playlist .items .img img {
  width: 100%;
}
.playlist .items .metadata{
  flex: 1 1 60%;
}
.playlist .items button{
  height: 100%;
  flex: 1 1 5%;
  background-color: var(--white-color);
  font-size: var(--font-large);
}

.infoAndUpNext{
  display: flex;
  flex-direction: column;
}

/*  창의 너비가 넓어지면 영상 하단의 두 섹션이
    가로로 배치되도록 */
@media screen and (min-width: 800px){
  .infoAndUpNext{
    flex-direction: row;
    margin: var(--padding) 0;
  }
  .info{
    flex: 1 1 65%;
  }
  .UpNext{
    flex: 1 1 35%;
  }
}


/*metadata 공통 속성 */
.metadata{
  display: flex;
  flex-direction: column;
}
/*subscribers, views 공통 속성*/
.subscribers,
.views,
.name{
  color: var(--gray-dark-color);
  font-size: var(--font-medium);
}
/*title 공통 속성*/
.title{
    font-size: var(--font-large);
    line-height: 40px;
}
