body {
  margin:0;
}

a{
  text-decoration: none;
  color: white;
}

.menu-bar{
  display: flex;
  padding: 8px 12px;
  background-color: navy;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo i{
  font-size: 24px;
  color:orange;
}

.menu-items {
  display: flex;
  padding-left:0;
  list-style: none;
}

.menu-bar li{
  margin-right:0;
  padding: 8px 12px;
}

.external-link{
  display: flex;
  list-style: none;
}

.external-link li{
  padding: 8px 12px;
}

.menu-bar li:hover{
  background-color:beige;
  border-radius: 4px;
}

/*가로로 넓을 땐, 안 보이도록*/
.toogleBtn{
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px
  color: orange;
}

/*창의 가로 크기에 따라 헤더의 스타일이 바뀌도록*/
@media screen and (max-width: 768px){

  .menu-bar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .menu-items{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .external-link{
    margin:0;
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }

  .menu-items li:hover{
    width:100%;
    text-align:center;
  }


  /* 아이콘 클릭시 메뉴 목록이 펼쳐지도록*/
  .toogleBtn{
    display: block;
  }
}
