body {
  margin:0;
}

a{
  text-decoration: none;
  color: white;
}
.menu-bar{
  display: flex;
  padding: 0px 12px;
  background-color: navy;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo i{
  font-size: 24px;
  color: orange;
}

.menu-bar ul{
  list-style: none;
}

.menu-bar li{
  display: inline-block;
  margin: 0px 8px;
  padding: 10px 8px;
}

.menu-bar li:hover{
  background-color:beige;
  border-radius: 4px;
}
