body{
  margin:0;
}

/*HEADER*/
header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: auto;
  padding: 8px 12px;
  font-size:24px;
  background-color:black;
  color:white;

}
.logo i{
  color:red;
}
.logo a{
  text-decoration: none;
  color:white;
}
.icon{
  list-style:none;
  padding-left:0;
}
.icon li{
  display: inline;
}
.icon button{
  border:0;
  color:white;
  background-color:black;
  font-size: 24px;
}


/*VIDEO*/


/*INFORMATION*/
.info{
  padding: 0px 30px;
}
.hashtags{
  list-style:none;
  padding-left: 0;
  color: darkblue;
  font-size: 20px;
}
.hashtags li{
  display:inline;
}
.titleAndButton{
  display: flex;
  align-items:flex-start;
}
.titleAndButton button{
  padding-top:8px;
  border:0;
  background-color:white;
}
.actions{
  display: flex;
  padding-left:0;
  list-style:none;
  text-align:center;
}
.actions li{
  display: inline;
  width:25%;
  margin: 10px 20px;
}
.actions button{
  border:0;
  background-color:white;
  font-size:20px;
}
.actions span{
  display: block;
  padding-top:8px;
  font-size: 15px;
}
.channel{
  display: flex;
  justify-content: space-between;
  border-style:solid;
  border-width: 1px 0px;
  padding: 15px 12px;
}
.profile{
  padding: 8px 0px;
}
.profile a{
  text-decoration: none;
  display: flex;
}
.profile a img{
  width:70px;
  height: 70px;
  margin-right: 30px;
}
.channel button{
  border: 0;
  background-color:white;
  color:red;
  font-size: 25px;
}


/* NEXT VIDEO */
.UpNext {
  padding: 0px 30px;
}
.playlist{
  list-style: none;
  padding-left: 0;
}
.items a{
  display: flex;
  text-decoration: none;
}
.items a img{
  margin-right: 20px;
}
.items {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.items button{
  border: 0;
  background-color: white;
  font-size: 25px;
}

/*metadata 공통 속성 */
.metadata{
  display: flex;
  flex-direction: column;
}
/*subscribers, views 공통 속성*/
.subscribers,
.views,
.name{
  color: darkgray;
  font-size: 20px;
}
/*title 공통 속성*/
.title{
    font-size:25px;
    line-height: 40px;
}
